extends layout

block content
  h1 Online Notarization
  p.lead Available 24/7
  hr
  .row
    .col-md-6
      i(style={'font-size': '70px',color: 'navy'}).fas.fa-user-graduate
      h2 24/7 Access to Trusted Notaries
      p Our notaries are available 24/7 to help with important documents.
    .col-md-6
      i(style={'font-size': '70px',color: 'gray'}).fas.fa-file-word
      h2 Document Preparation Tools
      p Our document editing and preparation tools reduce signing time and errors.
